**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform
**/.terraform.tfstate.lock.info
**/.terraform.tfstate.lock.info~
**/.terraform.tfstate.lock
**/.terraform.tfstate.lock~
**/.terraform/
**/.terraform.tfstate.lock.info
**/.terraform.tfstate.lock.info~
**/.terraform.tfstate.lock
**/.terraform.tfstate.lock~
**/.terraform/
.terraform.tfstate.lock.info
.terraform.tfstate.lock.info~
.terraform.tfstate.lock
.terraform.tfstate.lock~
.terraform/
terraform.tfstate.backup
terraform.tfstate.lock.info
terraform.tfstate.lock.info~
terraform.tfstate.lock
terraform.tfstate.lock~
terraform.tfstate
terraform.tfvars
**/terraform.tfvars
